body {
font-family: Monospace, Andalé Mono;
padding: 10px;
}

h1 {
padding 20px;
font-family: Monospace, Andalé Mono;
font-size: 40px;
}

.user {
    background-color: color:white;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
}

.movies {
    background-color: color:white;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
}

label {
font-size: 20px
}

.container {
display:flex;
flex-wrap: wrap;
flex-direction: row;
padding: 40px;
}

.box {
width: 300px;
height: 850px;
border: 2px solid black;
padding: 20px;
}

.review_box {
width: 300px;
height: 600px;
border: 2px solid black;
padding: 20px;
}